# Loading Data & Preprocessing

In [3]:
#importing libraries
import pandas as pd

In [7]:
# assigning data path
df_1 = pd.read_csv('../1.data_loader/fake_buzz_news.csv')
df_2 = pd.read_csv('../1.data_loader/real_buzz_news.csv')
df_3 = pd.read_csv('../1.data_loader/fake_random_news.csv')
df_4 = pd.read_csv('../1.data_loader/real_random_news.csv')

In [8]:
#checking length
len(df_1) + len(df_2) + len(df_3) + len(df_4)

251

In [9]:
#concatenating dataframes
df = pd.concat([df_1, df_2, df_3, df_4])

In [10]:
#rechecking length
len(df)

251

In [11]:
#dropping index
df = df.reset_index(drop=True)

In [12]:
#printing dataframe
df

,News,Title,Label
0,The Internet is buzzing today after white supr...,5 Million Uncounted Sanders Ballots Found On C...,Fake
1,TRUMP TOWER — With his poll numbers among blac...,African Billionaire Will Give $1 Million To An...,Fake
2,Donald Trump is looking to assemble a strong t...,BREAKING Another Clinton Associate Set To Test...,Fake
3,"“SHE’S SEXY, SMART, SOPHISTICATED, AND SHE’S I...",Breaking Fraudulent Clinton Votes Discovered B...,Fake
4,"PHOENIX A.Z. (AP) — For months now, rumors hav...",BREAKING Official Set to Testify Against Hilla...,Fake
...,...,...,...
246,As he traveled the country on his thank you to...,Donald Trump's Cabinet richest in U.S. history...,Real
247,A federal judge in New York has unsealed the s...,Judge unseals warrant for search of Anthony We...,Real
248,"On Sunday evening, Donald Trump invited report...",Donald Trump invites press to off-the-record s...,Real
249,WASHINGTON -- Allegations of retaliation again...,NSA watchdog put on leave in whistleblower case,Real
250,A group of millennial activists from across th...,Trump protesters plan to open 'movement house'...,Real

# Clean news and title

In [13]:
import re
import string
#helper function for preproccessing data
'''remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
def review_cleaning(text):
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    
    return text

In [14]:
#making a copy of dataset
clean_news=df.copy()

### clean news

In [15]:
#applying preprocessing
clean_news['News']=clean_news['News'].apply(lambda x:review_cleaning(x))
clean_news.head()

,News,Title,Label
0,The Internet is buzzing today after white supr...,5 Million Uncounted Sanders Ballots Found On C...,Fake
1,TRUMP TOWER — With his poll numbers among blac...,African Billionaire Will Give $1 Million To An...,Fake
2,Donald Trump is looking to assemble a strong t...,BREAKING Another Clinton Associate Set To Test...,Fake
3,“SHE’S SEXY SMART SOPHISTICATED AND SHE’S INTO...,Breaking Fraudulent Clinton Votes Discovered B...,Fake
4,PHOENIX AZ AP — For months now rumors have cir...,BREAKING Official Set to Testify Against Hilla...,Fake

In [16]:
'''from nltk.corpus import stopwords

#removing stopwords
stop = stopwords.words('english')
clean_news['News'] = clean_news['News'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
clean_news.head()'''

"from nltk.corpus import stopwords\n\n#removing stopwords\nstop = stopwords.words('english')\nclean_news['News'] = clean_news['News'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))\nclean_news.head()"

### clean title

In [17]:
#applying preprocessing
clean_news['Title']=clean_news['Title'].apply(lambda x:review_cleaning(x))
clean_news.head()

,News,Title,Label
0,The Internet is buzzing today after white supr...,Million Uncounted Sanders Ballots Found On Cl...,Fake
1,TRUMP TOWER — With his poll numbers among blac...,African Billionaire Will Give Million To Anyo...,Fake
2,Donald Trump is looking to assemble a strong t...,BREAKING Another Clinton Associate Set To Test...,Fake
3,“SHE’S SEXY SMART SOPHISTICATED AND SHE’S INTO...,Breaking Fraudulent Clinton Votes Discovered B...,Fake
4,PHOENIX AZ AP — For months now rumors have cir...,BREAKING Official Set to Testify Against Hilla...,Fake

In [18]:
'''#removing stopwords
stop = stopwords.words('english')
clean_news['Title'] = clean_news['Title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
clean_news.head()'''

"#removing stopwords\nstop = stopwords.words('english')\nclean_news['Title'] = clean_news['Title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))\nclean_news.head()"

In [19]:
#saving preprocessed data as pre.csv
clean_news.to_csv('pre.csv', encoding='utf-8', index=False)

In [20]:
#saving nonpreprocessed data as no_pre.csv
df.to_csv('no_pre.csv', encoding='utf-8', index=False)